body {
    padding: 60px;
    background-color: #b0a785;
    color: darkslategray;
    font-family: 'PT Sans Caption', sans-serif;
}

.row, footer {
    margin: 2%;        
}
.background, .jumbotron {
    background-color: #f0eac6;
}
.jumbotron img {
    padding-top: 40px;
    padding-bottom: 20px;
}
h1 {
    font-family: 'Courgette', cursive;
}
h2 {
    text-align: center;
}
footer {
    text-align: center;
}