html {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
body {
    padding: 60px;
    background-color: #b0a785;
    color: darkslategray;
}

.row, footer {
    margin: 0.5%;    
}
.background, .jumbotron {
    background-color: #f0eac6;
}